git+https://github.com/Maayanlab/appyter.git@665d145aa3b097baf64f858ea1e133e33e10878f
pandas
numpy
s3fs
git+https://github.com/Maayanlab/maayanlab-bioinformatics.git@d06bbb288de24b58cb947e268b5eeae2b3188f46
igraph
matplotlib_venn
leidenalg
fsspec==2022.1.0
tqdm
scanpy
rpy2==3.5.10
fastcluster
openai
python-dotenv
networkx
biopython
