git+https://github.com/Maayanlab/appyter.git@9b14e3c83a1c8bbf58f1d43ae611595254270a3a
pandas
numpy
s3fs
git+https://github.com/Maayanlab/maayanlab-bioinformatics.git
igraph
matplotlib_venn
leidenalg
fsspec==2022.1.0
tqdm
scanpy
rpy2==3.5.10
fastcluster
openai
python-dotenv
networkx
biopython
