{% extends "biojupies/base.j2" %}
{% block head %}
<title>X2KTR</title>  
<link rel="shortcut icon" href="{{ url_for('static', filename='x2ktr-sm.png') }}"/>
<link rel="icon" href="{{ url_for('static', filename='x2ktr-sm.png') }}">  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}