{% extends "bootstrap/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="row justify-content-center" style="width:100%; font-family: 'Open Sans';">
    <div class="container col-8">
        <div class="mb-5 mt-2 mx-0 row align-items-center">
            <div class="col-3">
            <a href="/">
                <img src="{{ url_for('static', filename='sc2targets.png') }}" style="width:175px"
                    class="img-fluid float-right">
            </a>
            </div>
            <div class="col-7 text-center">
                 <h1 style="font-weight: 50; font-size: 75px">sc2DAT</h1>
                <h3 style="font-weight: 100"> scRNA-seq 2 Drugs and Targets </h3>
                <p class="my-0">Upload a single cell RNA-seq matrix or a bulk RNA-seq matrix with a
                    corresponding single cell reference to identify cell-surface targets and L1000 compounds specific 
                    to identifed cell types.</p>
            </div>
            <div class="col-1 ml-5 text-center">
                Executed Reports: <p style="font-weight: 1200; font-size: 1.5rem" id="numruns"></p>
            </div>
        </div>
    </div>
</div>

<div class="text-center justify-content-center mx-auto">
    <div class="row">
        <div class="col-12">
            <div id="selector" class="row mx-auto justify-content-center gap-5 mb-0">
                <div id="scRNA-seq-button" class="col-3 justify-content-center question">
                    Start with scRNA-seq data
                </div>
                <div id="bulk-RNAseq-button" class="col-3 justify-content-center question">
                    Start with Bulk Data
                </div>
            </div>

            <div class="container col-10 mt-3" style="font-size: 14px !important;">
            <div id="ga" class="mb-4"><img src="static/sc2DAT_GA.png" width="850px"/></></div>
                
                <form method="POST" enctype="multipart/form-data" action="">
                    <div hidden> 
                        {{ _fields[1].render() }}
                    </div>
                    <div id="bulk-RNA-seq" style="display: none;">
                        <div class="col-3 mx-auto mb-3">
                            <div class="btn rounded mt-0" style="border: solid 2px rgb(103, 103, 103); font-weight: 500; background-color: rgb(188, 234, 207);" 
                                onclick="loadExample()">Load bulk RNA-seq Example (Lung Cancer)</div>
                        </div>
                        <div class="row justify-content-evenly ">
                        {% for _field in _fields[4:6] %}
                            <div class="col-6 ">
                                {{ _field.render() }}
                            </div>
                        {% endfor %}
                        </div>
                        <div class="row justify-content-evenly">
                        {% for _field in _fields[6:8] %}
                            <div class="col-4">
                                {{ _field.render() }}
                            </div>
                        {% endfor %}
                        </div>
                         <div class="row justify-content-evenly">
                         {{ _fields[8].render() }}
                         </div>

                        
                    </div>
                    <div id="scRNA-seq" style="display: none;">
                        <div class="col-4 mx-auto">
                            <div class="btn rounded mt-0 mb-3" style="border: solid 2px rgb(103, 103, 103); font-weight: 500; background-color: rgb(188, 234, 207);" 
                                onclick="loadExample()">Load scRNA-seq Example (Kidney IRI GSE171417)</div>
                            </div>
                        <div class="row justify-content-evenly">
                        {% for _field in _fields[2:4] %}
                            <div class="col-5">
                                {{ _field.render() }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div id="shared-area" class="row justify-content-evenly" style="display: none;">
                        {% for _field in _fields[9:] %}
                            <div class="col-4">
                                {{ _field.render() }}
                            </div>
                        {% endfor %}
                        </div>
                    <div id="submit-area" class="row" style="display: none;">
                        <div class="col-sm-12">
                            <input onclick="checkFiles(event)" type="submit" value="Submit" />
                            <div id="submit-feedback" class="p-2 px-5 rounded mx-auto"
                                style="position: absolute; background-color: rgba(255, 0, 0, 0.552);">
                                Please provide at least one data file
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}

<script>

    document.getElementById('scRNA-seq-button').addEventListener('click', () => {
        $('#ga').fadeOut(50)
        $('#bulk-RNA-seq').fadeOut(50)
        $('#scRNA-seq').fadeIn(50)
        $('#shared-area').fadeIn()
        $('#submit-area').fadeIn(1000)
        document.forms[0].elements['data_type'].value = 'scRNA-seq';
        $('#scRNA-seq-button').addClass('selected')
        $('#bulk-RNAseq-button').removeClass('selected')

    })

    document.getElementById('bulk-RNAseq-button').addEventListener('click', () => {
        $('#ga').fadeOut(50)
        $('#scRNA-seq').fadeOut(50)
        $('#bulk-RNA-seq').fadeIn(1000)
        $('#shared-area').fadeIn()
        $('#submit-area').fadeIn(1000)
        document.forms[0].elements['data_type'].value = 'bulk RNA-seq';
        $('#scRNA-seq-button').removeClass('selected')
        $('#bulk-RNAseq-button').addClass('selected')
    })

    function loadExample() {
        const dataType = document.forms[0].elements['data_type'].value
        if (dataType == 'bulk RNA-seq') {
            const textbtn = document.getElementsByClassName('text-btn ' + 'GSE49155');
            for (let i = 0; i < textbtn.length; i++) {
                textbtn[i].click();
            }
            document.forms[0].elements['condition_col'].value = 'condition'
            document.forms[0].elements['ctrl_condition'].value = 'normal'
            document.forms[0].elements['reference'].value = 'Lung Cancer Atlas (LuCA) - Salcher et al. 2022 (Human)'
            document.forms[0].elements['species'].value = 'human'
        } else if (dataType == 'scRNA-seq') {
            const textbtn = document.getElementsByClassName('text-btn ' + 'GSE171417');
            for (let i = 0; i < textbtn.length; i++) {
                textbtn[i].click();
            }
            document.forms[0].elements['species'].value = 'mouse'
        }
    }

    function loadExampleSc1() {
        document.querySelector('[aria-controls="tab-content-data_type-scRNA-seq"]').click();
        setTimeout(() => {
            document.querySelector('[aria-controls="tab-content-sc_data_type_ctrl-Plain Text"]').click();
            document.querySelector('[aria-controls="tab-content-sc_data_type-Plain Text"]').click()
            setTimeout(() => {
                const textbtn = document.getElementsByClassName('text-btn ' + 'GSE171417');
                for (let i = 0; i < textbtn.length; i++) {
                    textbtn[i].click();
                }
                document.forms[0].elements['species'].value = 'mouse'
                document.querySelector('[name="control_cond"]').value = 'Cont';
                document.querySelector('[name="pert_name_pert"]').value = 'Krt20';
            }, 1000)
        }, 1000)
    }

    function loadExampleSc2() {
        const textbtn = document.getElementsByClassName('text-btn ' + 'GSE171417');
        for (let i = 0; i < textbtn.length; i++) {
            textbtn[i].click();
        }
        document.forms[0].elements['species'].value = 'human'
        document.forms[0].elements['pert_name'].value = 'Krt20'
        document.forms[0].elements['control_cond'].value = 'Cont'
    }

    async function loadExampleBulk() {
        document.querySelector('[aria-controls="tab-content-data_type-bulk RNA-seq"]').click();
        await setTimeout(() => {
             const textbtn = document.getElementsByClassName('text-btn ' + 'GSE49155');
            for (let i = 0; i < textbtn.length; i++) {
                textbtn[i].click();
            }
            document.forms[0].elements['condition_col'].value = 'condition';
            document.forms[0].elements['ctrl_condition'].value = 'normal';
            document.forms[0].elements['reference'].value = 'Lung Cancer Atlas (LuCA) - Salcher et al. 2022 (Human)';
            document.forms[0].elements['species'].value = 'human';
        }, 1000)
    }

    var trueTypeOf = (obj) => Object.prototype.toString.call(obj).slice(8, -1).toLowerCase()


    function checkFile(field) {
        const meta = document.forms[0].elements[field]
        var metavalue;
        if (trueTypeOf(meta) == 'radionodelist') {
            metavalue = meta[1].value
        } else {
            metavalue = meta.value
            const reg = new RegExp('^(drs|s3|gs|ftp|http|https)://.+$')
            if (!reg.test(metavalue)) {
                metavalue = undefined;
            }
        }
        return metavalue ? true : false
    }

    function resetParams() {
        const params = [15, 0.01, 1, '', 'yes', 'yes', 'yes', 'yes', 0.8, 0.5, 500, 500, 'Protein-Protein Co-expression', []]
        const fields = ['n_neighbors', 'min_dist', 'resolution', 'cluster_column',
            'membrane_screener', 'normalize_to_bg', 'impute_protein_expr',
            'impute_phospho_expr', 'percent_rows_protein', 'percent_rows_phospho', 'chea3_n', 'kea3_n',
            'intermediate_method', 'tumor_validate']
        for (let i = 0; i < fields.length; i++) {
            document.forms[0].elements[fields[i]].value = params[i]
        }

    }

    function checkFiles(e) {
        const files = [checkFile('rna_expr'), checkFile('prot_expr'), checkFile('phospho_expr'), checkFile('meta')]
        if (files[0] || files[1] || files[2]) {
            return;
        } else {
            e.preventDefault();
            document.getElementById('submit-feedback').style.visibility = 'visible';
            document.getElementById('submit-feedback').style.opacity = 1;
            setTimeout(() => {
                document.getElementById('submit-feedback').style.opacity = 0;
            }, 3000)
        }
    }

    function getNumRuns() {
        fetch('/blueprint/numruns').then(response => response.json()).then(data => {
            document.getElementById('numruns').innerText = data.num_runs;
        })
    }
    getNumRuns()
</script>
{% endblock %}